Source: ocaml-deliantra
Section: games
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Uploaders: 
 Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 obuild, noweb,
 dh-ocaml (>= 0.9),
 ocaml-nox (>= 3.12),
 ocaml-findlib,
 libatdgen-ocaml-dev,
 libbaselib-ocaml-dev,
 libjson-camlp4-dev,
 liblwt-ocaml-dev,
 libncurses-ocaml-dev,
 libsexplib-camlp4-dev,
 libsha-ocaml-dev,
 libunpack-camlp4-dev
Standards-Version: 3.9.2
Homepage: https://github.com/pippijn/deliantra
Vcs-Git: git://github.com/pippijn/deliantra
Vcs-Browser: https://github.com/pippijn/deliantra

Package: deliantra-cli
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Console Deliantra client
 A rogue-like networked multiplayer game.
 .
 This package contains the client program.

Package: libdeliantra-ocaml
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Fast lexer generator compatible with ocamllex
 A rogue-like networked multiplayer game.
 .
 This package contains the client library.

Package: libdeliantra-ocaml-dev
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Fast lexer generator compatible with ocamllex
 A rogue-like networked multiplayer game.
 .
 This package contains development files for the client library.
 Use this to create your own Deliantra client extensions.
